.paginationWrapper {
  display: flex;
  justify-content: center;
  cursor: pointer;

  .paginationItem {
    list-style-type: none;
  }

  .paginationLinkItem {
    padding: 2px 8px;
    margin: 0 5px;
    border: 1px solid #840606;
    color: #840606;
    border-radius: 5px;

    &:hover {
      background-color: #840606;
      color: #fff;
      transition: 0.3s;
    }
  }

  .activeItem {
    background-color: #840606;
    border: 1px solid #840606;
    color: #fff;
  }

  .disabled {
    background-color: #f7d98e;
    border: none;
    color: #c99b25;
    pointer-events: none;
  }
}
