.paginationWrapper {
  display: flex;
  justify-content: center;
  cursor: pointer;

  .paginationItem {
    list-style-type: none;
  }

  .paginationLinkItem {
    padding: 2px 8px;
    margin: 0 5px;
    border: 1px solid black;
    border-radius: 5px;

    &:hover {
      background-color: brown;
      transition: 0.5s;
    }
  }

  .activeItem {
    background-color: brown;
  }

  .disabled {
    background-color: rgb(234, 234, 234);
    border: 1px solid rgb(158, 158, 158);
    color: rgb(158, 158, 158);
    pointer-events: none;
  }

  // .teste {
  //   background-color: black;
  // }
}
