.sort {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  opacity: 100%;

  & > div {
    height: 10px;

    &:hover {
      img {
        opacity: 20%;
        transition: 0.3s;
      }
    }
  }

  &:last-child {
    margin-bottom: 8px;
  }

  .selected {
    span {
      filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(0.7);
      -webkit-filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(0.7);
    }
  }
}
