@mixin button($lighterColor, $darkerColor) {
  background-color: $lighterColor;
  color: $darkerColor;

  &:hover {
    opacity: 0.8;
    transition: 0.5s;
  }

  &:focus {
    opacity: 0.3;
    transition: 0.3s;
  }
}

.housesWrapper {
  position: relative;

  .selectedHouse {
    font-size: 0.95rem;
    border-radius: 2px;
    width: 140px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    cursor: pointer;
  }

  .houseButton {
    padding: 8px 16px;
    border-radius: 3px;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
  }

  .red {
    @include button(#ed5a64, #99010c);
  }

  .yellow {
    @include button(#ffde3a, #eec604);
  }

  .blue {
    @include button(#5aa5e7, #024680);
  }

  .green {
    @include button(#86ba82, #1f6c19);
  }
}
