.searchBar {
  display: flex;
  align-items: center;

  .termType {
    display: flex;
    align-items: center;
    position: relative;
    gap: 4px;

    .selectedOption {
      background-color: #f7d98e;
      font-size: 0.95rem;
      border-radius: 2px;
      width: 140px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 6px 8px;
      cursor: pointer;
      color: #c99b25;

      svg path {
        fill: #c99b25;
      }
    }

    .typeOption {
      text-align: center;
      font-size: 0.9rem;
      color: #595959;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
        transition: 0.5s;
      }
    }
  }

  form {
    width: 100%;
  }

  form input {
    height: 28px;
    border-radius: 0;
    width: 230px;
    border-width: 1px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    padding-left: 4px;
    border: none;

    &:focus {
      outline: 0;
    }
  }

  ::placeholder {
    color: #bbb;
    opacity: 1;
  }

  :-ms-input-placeholder {
    color: #bbb;
  }

  ::-ms-input-placeholder {
    color: #bbb;
  }
}
