.searchBar {
  display: flex;

  .termType select {
    background-color: #e7e7e7;
    color: #a1a1a1;
    font-weight: 600;
    padding: 4px 0px 4px 8px;
    width: 122px;
    border: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    height: 28px;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../../public/arrow-down.svg');
    background-repeat: no-repeat, repeat;
    background-position: right 0.5rem top 55%, 0 0;
    background-size: 0.65em auto, 100%;

    &:focus {
      outline: 0;
    }
  }
  form {
    width: 100%;
  }

  form input {
    height: 28px;
    border-radius: 0;
    width: 200px;
    border-width: 1px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    padding-left: 4px;
    border: 1px solid #e8e8e8;
    width: 100%;

    &:focus {
      outline: 0;
    }
  }

  ::placeholder {
    color: #bbb;
    opacity: 1;
  }

  :-ms-input-placeholder {
    color: #bbb;
   }
   
   ::-ms-input-placeholder {
    color:#bbb;
   }
}
