.listTable {
  display: flex;
  justify-content: center;
  height: 100%;

  .notFound {
    grid-area: list;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;

    h4 {
      margin-bottom: 0;
    }
    p {
      margin-top: 8px;
    }
  }

  .table {
    width: 100%;
    border-collapse: collapse;
  }

  .th {
    text-align: left;
    padding-right: 24px;
    color: #3fafcb;

    p {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
    }
  }

  .tr {
    border-bottom: 1px solid #e8e8e8;
    font-size: 0.9rem;
    height: 43px;

    .numberCell {
      text-align: right;
    }

    .tableHeadValue {
      display: inline-flex;
      align-items: center;
      gap: 3px;
    }
  }

  .tbody {
    height: auto;

    tr {
      &:hover {
        background-color: #f2fbfd;
      }
    }
  }

  .td {
    color: #595959;
    padding-right: 24px;
  }
}
