.listTable {
  display: flex;
  justify-content: center;
  height: 100%;

  .notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;

    h4 {
      margin-bottom: 0;
    }
    p {
      margin-top: 8px;
    }
  }

  .table {
    width: 100%;

    .thead {
      text-align: left;
      //color: #791006;
      color: #840606;
      border-bottom: 1px solid #d0bc94;
      padding: 0 4px;
      font-size: 0.9rem;
      //font-weight: 600;
      //text-transform: uppercase;

      .theadValue {
        display: inline-flex;
        align-items: center;
        gap: 3px;
      }
    }

    .tbody {
      height: auto;

      .tableRow {
        font-size: 0.9rem;
        height: 46px;
        color: #595959;
        padding: 0 4px;

        &:hover {
          background-color: #f8eede;
          transition: 0.3s;
        }

        &:not(:last-child) {
          border-bottom: 1px solid #e8e8e8;
        }

        .numberCell {
          text-align: right;
        }
      }
    }
  }
}
