.badge {
  text-align: center;
  font-weight: 600;

  & > div {
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
  }

  .waiting {
    border: 1px solid #939292;
    color: #939292;
  }

  .approved {
    border: 1px solid #17B637;
    color: #17B637;
  }

  .rejected {
    border: 1px solid #E84736;
    color: #E84736;
  }
}
