.badge {
  text-align: center;
  font-weight: 600;

  & > div {
    padding: 4px;
    border-radius: 4px;
    font-size: 0.9rem;
  }

  .waiting {
    border: 1px solid #939292;
    color: #939292;
  }

  .approved {
    border: 1px solid #17b637;
    color: #17b637;
  }

  .rejected {
    border: 1px solid #e84736;
    color: #e84736;
  }
}
